In [1]:
import sys
import pandas as pd

In [146]:
df1 = pd.read_csv("drivers.csv")
df2 = pd.read_csv("results.csv")

In [147]:
df2 = df2.loc[df2["positionText"]=="1"]

In [148]:
df2 = df2.sort_values(by="driverId")

In [149]:
df3 = df2[["driverId"]].value_counts()

In [150]:
df4 = df1[["driverId", "forename", "surname"]].copy()

In [151]:
df3 = pd.DataFrame(df3)

In [152]:
df3 = df3.merge(df4,left_on='driverId', right_on='driverId')

In [153]:
df3 = df3.head(20)

In [154]:
df3["subject"] = df3[["forename", "surname"]].apply(" ".join, axis=1)

In [184]:
df3["statistics"] = df3.iloc[:,1]

In [141]:
df3 = df3.drop(df3.columns[[0, 1, 2,3]], axis=1)

In [186]:
df3.to_csv('output.csv', index=False)

In [349]:
df1 = pd.read_csv("drivers.csv")
df2 = pd.read_csv("results.csv")

In [350]:
df2 = df2.loc[df2["positionText"]=="1"]

In [351]:
df5 = df1[["driverId","nationality"]].copy()

In [352]:
df6 = df2[["driverId", "positionText"]].copy()

In [353]:
df5 = df5.merge(df6,left_on='driverId', right_on='driverId')

In [354]:
df5 = df5[["nationality"]].value_counts()

In [355]:
df5 = pd.DataFrame(df5)

In [356]:
df5.reset_index(inplace=True)

In [357]:
df5["subject"] = df5.iloc[:,0]
del df5["nationality"]

In [359]:
df5["statistics"] = df5.iloc[:,0]
del df5[0]

In [402]:
df5.to_csv('output.csv', index=False)

In [438]:
df1 = pd.read_csv("drivers.csv")
df2 = pd.read_csv("results.csv")

In [439]:
df2 = df2[df2.grid != 1]

In [440]:
df2 = df2.loc[df2["positionText"]=="1"]

In [441]:
df2.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
22,23,19,8,6,1,2,1,1,1,10.0,56,1:31:18.555,5478555,37,2,1:35.405,209.158,1
44,45,20,13,6,2,2,1,1,1,10.0,57,1:31:06.970,5466970,38,3,1:33.600,208.153,1
108,109,23,1,1,22,3,1,1,1,10.0,76,2:00:42.742,7242742,71,6,1:18.510,153.152,1
128,129,24,9,2,4,2,1,1,1,10.0,70,1:36:24.227,5784227,47,4,1:17.539,202.473,1
148,149,25,13,6,2,2,1,1,1,10.0,70,1:31:50.245,5510245,20,2,1:16.729,206.956,1

In [448]:
df10 = df1[["driverId", "forename", "surname"]].copy()
df11 = df2[["driverId","positionText"]].copy()

df10 = df10.merge(df11,left_on='driverId', right_on='driverId')

df10["subject"] = df10[["forename", "surname"]].apply(" ".join, axis=1)
df10 = df10[["subject"]].value_counts()
df10 = pd.DataFrame(df10)
df10.reset_index(inplace=True)
df10["statistics"] = df10.iloc[:,1]
del df10[0]
df10 = df10.head()
df10.to_csv('output.csv', index=False)

In [403]:
df1 = pd.read_csv("constructors.csv")
df2 = pd.read_csv("results.csv")

In [404]:
df2 = df2.loc[df2["positionText"]=="1"]

In [405]:
df7 = df1[["constructorId","name"]].copy()
df8 = df2[["constructorId", "positionText"]].copy()
df7 = df7.merge(df8,left_on='constructorId', right_on='constructorId')
df7 = df7[["name"]].value_counts()
df7 = pd.DataFrame(df7)
df7.reset_index(inplace=True)

In [383]:
df7["subject"] = df7.iloc[:,0]
del df7["name"]
df7["statistic"] = df7.iloc[:,0]
del df7[0]

In [385]:
df7 = df7.head(10)

In [386]:
df7.to_csv('output.csv', index=False)

In [387]:
df1 = pd.read_csv("circuits.csv")
df2 = pd.read_csv("races.csv")

In [391]:
df2.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,29/03/09,6:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,05/04/09,9:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,19/04/09,7:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,26/04/09,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,10/05/09,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

In [399]:
df3 = df1[["circuitId","country"]].copy()
df4 = df2[["circuitId", "raceId"]].copy()
df3 = df3.merge(df4,left_on='circuitId', right_on='circuitId')
df3 = df3[["country"]].value_counts()
df3 = pd.DataFrame(df3)
df3.reset_index(inplace=True)
df3["subject"] = df3.iloc[:,0]
del df3["country"]
df3["statistic"] = df3.iloc[:,0]
del df3[0]

In [401]:
df3.head()

   subject  statistic
0    Italy        104
1  Germany         79
2       UK         77
3      USA         73
4   Monaco         68